.about {
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about>.title {
  margin: 32px auto 16px;
  font-size: 24px;
}

.about>.description {
  max-width: 80%;
  text-align: center;
}

.about>.sitemap {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 98px;
  gap: 16px;
}

@media screen and (max-width: 696px) {
  .about>.sitemap {
    margin-top: 16px;
    flex-direction: column;
  }
}

.about>.sitemap>a {
  max-width: 200px;
  align-self: center;
}

.sitemap>a>img {
  width: 200px;
}
